<div class="container divform">
  <h1>Editing student</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @studen, class:"btn btn-success  buttons" %> |
  <%= link_to 'Back', students_path, class:"fa fa-arrow-circle-left btn btn-default"  %>
</div>
