<div class="container divform">

<h1>New student</h1>

  <div class="internalform">
    <%= render 'form' %>
    <%= link_to ' Back', students_path, class:"fa fa-arrow-circle-left btn btn-default" %>
  </div>
</div>
