<div class="container divform">
  <h1>Editing Start Point</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @startpoint, class:"btn btn-success  buttons" %> |
  <%= link_to 'Back', startpoints_path, class:"fa fa-arrow-circle-left btn btn-default"  %>
