<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @startpoint.address %>
</p>

<%= link_to 'Edit', edit_startpoint_path(@startpoint) %> |
<%= link_to 'Back', startpoints_path %>
