<div class="home_div gray">


  <%=image_tag "home_map.png"%>

  <br>
  <h1>PLAIN YOUR ROUTE, SAVE MONEY!</h1>
  <h3>If you have many places to go and need to save money,<br> we are the solution!
      Try AntRouter now! For Free!
  </h3>

    <a href="#">
      <button type="button" class="btn btn-success btn-lg">

        <span class="fa fa-star"></span> GET STARTED RIGHT NOW!
      </button>
    </a>

</div>
<div class="container-fluid red">

  <div class="row home_div">
    <%=image_tag "ant.png"%>

      <h1>WE ARE USING A.I.!</h1>
      <h3>With artificial intelligence based on Ant Colony Optimization<br>
        We plain the best route for you based on places you need to go!
      </h3>
      <a href="#">
        <button type="button" class="btn btn-default btn-lg">
          <span class="fa fa-bug"></span> TRY!
        </button>
      </a>


  </div>

</div>
