<div class="container divform">
  
  <h1>New address</h1>

  <div class="internalform">
    <%= render 'form' %>
    <%= link_to ' Back', addresses_path, class:"fa fa-arrow-circle-left btn btn-default" %>
  </div>
</div>
