/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file an;d they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require  bootstrap
 *= require_tree .
 *= require_self
 */
 html{
   margin:0;
 }
.top_bar{
  background:#FFD45B;
  margin:0;
  padding:2%;
  color:#333 !important;
  border:none;
  border-radius:0;
}
.top_bar a{
  color:#333 !important;
}
.navbar-nav a{
  font-weight:bold;
  padding:2%;
  border-radius:8px;
  margin-left:10px;
  margin-top:10px;
  transition:background 0.5s ease;
}
.navbar-nav a:hover{
  background:#FFE681 !important;
}
.navbar-brand{
  color:#333 !important;
  font-family: 'Pacifico', cursive;
  font-size:35px;
}
.navbar-text{
  color:#333 !important;
}
.navbar-toggle{
  background:#FFE681;
}
.home_div{
  text-align:center;
  padding:2%;
}
h1{
  font-family: 'Montserrat', sans-serif;
}
.bigicon{
  font-size:50px !important;
}
.gray{
  background:#efefef;
}
.red{
  background:#F68046;
  color:#fff;
}
.yellow{
  background:#FFE681;
}
footer{
  background:#333;
  color:#fff!important;
  bottom:0!important;
  padding:2%!important;
  font-weight:bold;
  text-align:center;
}
.buttons{
  color:#fff !important;
}
.divform{
  margin-bottom:20px;
  width:50%;
}
.internalform{
  width:50%;
}
.card{
  padding: 20px;
  margin: 10px 0 20px 0;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
