<div class="container">
  <div id="map_canvas"></div>
</div>



<script>
$(function() {
  initialize("mapa");
  addMarkerToAddress("Francisco Beltrão - PR, Rua União da Vitória, 407");
  addMarkerToAddress("Itapejara d'Oeste - PR, Rua São Mateus, 403");
  addMarkerToAddress("Francisco Beltrão - PR, Rua Florianópolis, 407");
  addMarkerToAddress("Francisco Beltrão - PR, Rua Pernambuco, 407");
});
</script>
